# Quartus folders
src/.qsys_edit/*
src/db/*
src/incremental_db/*
src/output_files/*
src/simulation/*

# src/*.qsf
# src/*.qpf
src/*.qws

# Documentation
docs/*
!docs/Projeto 1 - Jogo da velocidade 2026.pdf
!docs/*.png


src/cin-board.tcl